@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);


$primary: #7f1f00;       
$secondary: #d33500;
$success: #00d300;
$info: #00d3c8;
$warning: #db820d;  
$danger: #d33500;
$light: #f9f7f1;
$dark: #2f2f2f;
$body-bg: #f9f7f1;
$body-color:black;
$link-color: #7f1f00;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
$enable-caret: false;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: false;
$enable-prefers-reduced-motion-media-query: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: false;
$font-family-sans-serif: 'Playfair Display', serif;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.1;
$font-size-sm: $font-size-base * .875;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

h1{
    font-size: 2.25rem;
}
h1,h2,h3,h4 {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
h1::before {
  border-top: 1px solid #2f2f2f;
  content: '';
  display: block;
  height: 7px;
  margin: 0 auto;
  width: 500px;
}
h1::after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  display: block;
  height: 10px;
  margin: 0 auto;
  width: 300px;
}

.navbar-eilkurier {
  background-color: #6b2f1b;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #6b2f1b;
  .navbar-slogan {
    background-color: white;
    color: #6b2f1b;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
    margin: auto;
    
    .brand-name {
      margin-left: -15px;
    }
    a {
      font-weight: bold;
      font-family: 'Brawler', serif;
      font-size: 38px;
      img {
        max-height: 49px;
      }
    }
  }
}

#footer {
  color: white;
  font-family: 'Brawler', serif;
  img {
    margin-top: 20px;
  }
  a {
    color: white;
  }
  h1 {
    color: white;
    &::before {
      border-color: white;
      width: 220px;
    }
    &::after {
      border-color: white;
      width: 140px;
    }
  }
}


.page-content {
  margin-bottom: 60px;
}

#homepage-content .info .info-text {
  font-size: 16px;
}

#homepage-content .main-text {
  position: absolute;
  top: 0;
  width: 96.66666666666666%;
}

#homepage-content .btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

#homepage-content .carousel-inner {
  height: 450px;
}

#homepage-content .carousel-control {
  background: none;
  color: #6b2f1b;
}

#homepage-content .carousel-indicators li {
  border: 1px solid black;
  background-color: #6b2f1b;
}

#homepage-content .carousel-indicators li.active {
  background-color: #ff784c;
}

#homepage-content .service h2 {
  margin: 0;
}

#homepage-content .carousel-inner h3 {
  margin: 0;
}

#homepage-content .item {
  padding-top: 80px;
  height: 100%;
}

#homepage-content .item div {
  width: 30%;
  display: inline-block;
}

#homepage-content .item .left {
  margin-left: 15%;
}
#homepage-content .item .right {
  margin-right: 15%;
}

#homepage-content .newspaper {
  margin-top: 40px;
}

#homepage-content section#service {
  margin-top: 55px;
}

.login .row {
  background-color: white;
}

#homepage-content .login .container {
  border: 2px solid #6b2f1b;
  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}

#homepage-content .login .form-group {
  margin-bottom: 0;
  padding: 20px 20px 0 0;
  float: left;
}

#homepage-content .loginform {
  background-color: white;
}

#homepage-content .login .login-logo {
  background-color: #6b2f1b;
  color: white;
  font-size: 38px;
  font-family: 'Brawler', serif;
  height: 99px;
}